$MontserratLight: "MontserratLight";
$MontserratBold: "MontserratBold";
$MontserratRegular: "MontserratRegular";
$MontserratMedium: "MontserratMedium";
$MontserratThin: "MontserratThin";
$MontserratBlack: "MontserratBlack";
$MontserratSemiBold: "MontserratSemiBold";
$MontserratExtraBold: "MontserratExtraBold";
$MontserratExtraLight: "MontserratExtraLight";

@font-face {
    font-family: "MontserratLight";
    src: url("../assets/fonts/MontserratLight/MontserratLight.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/MontserratLight/MontserratLight.woff") format("woff"),
        url("../assets/fonts/MontserratLight/MontserratLight.ttf") format("truetype"),
        url("../assets/fonts/MontserratLight/MontserratLight.svg#MontserratLight") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MontserratBold";
    src: url("../assets/fonts/MontserratBold/MontserratBold.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/MontserratBold/MontserratBold.woff") format("woff"),
        url("../assets/fonts/MontserratBold/MontserratBold.ttf") format("truetype"),
        url("../assets/fonts/MontserratBold/MontserratBold.svg#MontserratBold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MontserratRegular";
    src: url("../assets/fonts/MontserratRegular/MontserratRegular.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/MontserratRegular/MontserratRegular.woff") format("woff"),
        url("../assets/fonts/MontserratRegular/MontserratRegular.ttf") format("truetype"),
        url("../assets/fonts/MontserratRegular/MontserratRegular.svg#MontserratRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MontserratMedium";
    src: url("../assets/fonts/MontserratMedium/MontserratMedium.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/MontserratMedium/MontserratMedium.woff") format("woff"),
        url("../assets/fonts/MontserratMedium/MontserratMedium.ttf") format("truetype"),
        url("../assets/fonts/MontserratMedium/MontserratMedium.svg#MontserratMedium") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MontserratThin";
    src: url("../assets/fonts/MontserratThin/MontserratThin.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/MontserratThin/MontserratThin.woff") format("woff"),
        url("../assets/fonts/MontserratThin/MontserratThin.ttf") format("truetype"),
        url("../assets/fonts/MontserratThin/MontserratThin.svg#MontserratThin") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MontserratBlack";
    src: url("../assets/fonts/MontserratBlack/MontserratBlack.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/MontserratBlack/MontserratBlack.woff") format("woff"),
        url("../assets/fonts/MontserratBlack/MontserratBlack.ttf") format("truetype"),
        url("../assets/fonts/MontserratBlack/MontserratBlack.svg#MontserratBlack") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MontserratSemiBold";
    src: url("../assets/fonts/MontserratSemiBold/MontserratSemiBold.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/MontserratSemiBold/MontserratSemiBold.woff") format("woff"),
        url("../assets/fonts/MontserratSemiBold/MontserratSemiBold.ttf") format("truetype"),
        url("../assets/fonts/MontserratSemiBold/MontserratSemiBold.svg#MontserratSemiBold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MontserratExtraBold";
    src: url("../assets/fonts/MontserratExtraBold/MontserratExtraBold.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/MontserratExtraBold/MontserratExtraBold.woff") format("woff"),
        url("../assets/fonts/MontserratExtraBold/MontserratExtraBold.ttf") format("truetype"),
        url("../assets/fonts/MontserratExtraBold/MontserratExtraBold.svg#MontserratExtraBold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MontserratExtraLight";
    src: url("../assets/fonts/MontserratExtraLight/MontserratExtraLight.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/MontserratExtraLight/MontserratExtraLight.woff") format("woff"),
        url("../assets/fonts/MontserratExtraLight/MontserratExtraLight.ttf") format("truetype"),
        url("../assets/fonts/MontserratExtraLight/MontserratExtraLight.svg#MontserratExtraLight") format("svg");
    font-weight: normal;
    font-style: normal;
}
