{% set page_title = 'Amazon Lead' %}
{% extends "../elements/_base.twig" %}

{% block content %}

{% include "../elements/_header.twig" %}
<div class="main_content">
    <div class="block block1">
        <div class="block1__bg">
            <img src="./assets/images/block1-bg.jpg" alt="">
        </div>
        <div class="block1__wrap d-flex">
            <div class="block1__heading">
                <h2 class="block1__title wow fadeInUp" data-wow-delay="0.1s">
                    Hướng dẫn bán hàng trên Amazon.
                    <br>
                    Đăng ký ngay để có cơ hội nhận tư vấn.
                </h2>
                <a
                    href="#"
                    class="button button-yellow wow fadeInUp"
                    data-toggle="modal"
                    data-target="#modal-form"
                    data-wow-delay="0.3s"
                >đăng ký ngay</a>
            </div>
            <div class="block1__question wow fadeInUp" data-wow-delay="0.2s">
                {% include "../elements/_form.twig" %}
            </div>
        </div>
    </div>
    <div class="block block-2side block2">
        <div class="block-2side__heading">
            <h2 class="block-2side__title wow fadeIn">thương mại điện tử xuyên biên giới</h2>
            <h3 class="block-2side__des wow fadeIn" data-wow-delay="0.2s">Xu thế tất yếu của kinh tế toàn cầu</h3>
        </div>
        <div class="block-2side__content">
            <div class="block-2side__text">
                <div class="block-2side__text-item wow fadeInUp" data-wow-delay="0.1s">
                    <div class="block-2side__text-label">Có mặt tại</div>
                    <div class="block-2side__text-number">200</div>
                    <div class="block-2side__text-title">
                        quốc gia và
                        <br>
                        vùng lãnh thổ
                    </div>
                    <div class="block-2side__text-sub">
                        Hỗ trợ mở rộng thị trường
                        <br>
                        kinh doanh.
                    </div>
                </div>
                <div class="block-2side__text-item wow fadeInUp" data-wow-delay="0.2s">
                    <div class="block-2side__text-label">Với hơn</div>
                    <div class="block-2side__text-number">300 triệu</div>
                    <div class="block-2side__text-title">
                        tài khoản khách
                        <br>
                        hàng.
                    </div>
                </div>
                <div class="block-2side__text-item wow fadeInUp" data-wow-delay="0.3s">
                    <div class="block-2side__text-label va-css">Và</div>
                    <div class="block-2side__text-number">1 triệu</div>
                    <div class="block-2side__text-title">lượt truy cập mỗi ngày</div>
                    <div class="block-2side__text-sub">
                        Giúp tối ưu chi phí tìm kiếm
                        <br>
                        khách hàng
                    </div>
                </div>
            </div>
            <div class="block-2side__img wow fadeInRight">
                <img src="./assets/images/block2-img.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="block block-2side block3">
        <div class="block-2side__heading">
            <h2 class="block-2side__title wow fadeIn">TẠI SAO BẠN NÊN BÁN HÀNG TRÊN AMAZON?</h2>
        </div>
        <div class="block-2side__content img-left">
            <div class="block-2side__text">
                <div class="block-2side__text-item wow fadeInUp" data-wow-delay="0.1s">
                    <div class="block-2side__text-number">185</div>
                    <div class="block-2side__text-title">trung tâm hoàn thiện đơn hàng từ hệ thống FBA chuyên nghiệp</div>
                    <div class="block-2side__text-sub">
                        Giảm thiểu chi phí kho bãi,
                        <br>
                        lưu trữ, vận chuyển.
                    </div>
                </div>
                <div class="block-2side__text-item wow fadeInUp" data-wow-delay="0.2s">
                    <div class="block-2side__text-number">40</div>
                    <div class="block-2side__text-title">
                        loại mặt hàng  được kinh doanh trên mỗi
                        <br>
                        tài khoản (không thuộc hàng cấm)
                    </div>
                    <div class="block-2side__text-sub">Đa dạng hóa sản phẩm.</div>
                </div>
                <div class="block-2side__text-item wow fadeInUp" data-wow-delay="0.3s">
                    <div class="block-2side__text-number">135</div>
                    <div class="block-2side__text-title">
                        công cụ và dịch vụ
                        <br>
                        miễn phí
                    </div>
                    <div class="block-2side__text-sub">
                        Giúp doanh nghiệp cập nhật
                        <br>
                        kiến thức kinh doanh trên sàn TMĐT.
                    </div>
                </div>
            </div>
            <div class="block-2side__img wow fadeInLeft">
                <img src="./assets/images/block3-img.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="block block4">
        <div class="block4__wrap d-flex">
            <div class="block4__img-left wow fadeInUp">
                <img src="./assets/images/block4-img.png" alt="">
            </div>
            <div class="block4__text">
                <div class="block4__text-heading wow fadeInUp" data-wow-delay="0.1s">
                    <div class="block4__text-title"> NHIỀU DOANH NGHIỆP VIỆT</div>
                    <div class="block4__text-sub">đạt</div>
                </div>
                <div class="block4__text-number wow fadeInUp" data-wow-delay="0.2s">
                    <span class="wrap">
                        1 TRIỆU USD
                        <span class="top">1 TRIỆU USD</span>
                    </span>
                </div>
                <div class="block4__text-des wow fadeInUp" data-wow-delay="0.4s">KHI BÁN HÀNG TRÊN AMAZON</div>
                <a href="#" class="button button-white wow fadeInUp" data-wow-delay="0.5s">đăng ký ngay</a>
            </div>
            <div class="block4__img-right wow fadeInUp" data-wow-delay="0.6s">
                <img src="./assets/images/block4-img-right.png" alt="">
            </div>
        </div>
    </div>
    <div class="block block5">
        <div class="block5__wrap">
            <div class="block5__left wow fadeIn" data-wow-delay="0.1s">
                <div class="block5__logo block5__logo-1">
                    <img class="" src="./assets/images/block5-logo-1.png" alt="Tạo trang bán hàng chỉ với một cú nhấp chuột">
                </div>
                <div class="block5__logo block5__logo-2">
                    <img class="" src="./assets/images/block5-logo-2.png" alt="Tạo trang bán hàng chỉ với một cú nhấp chuột">
                </div>
            </div>
            <div class="block5__right wow fadeIn" data-wow-delay="0.2s">
                Amazon Global Selling là chương trình bán hàng giúp các doanh nghiệp từ mọi nơi trên thế giới phát triển kinh doanh toàn cầu, tiếp cận khách hàng của Amazon khắp thế giới và xây dựng thương hiệu quốc tế. Thông qua Amazon Global Selling, những người bán thuộc nhiều loại hình và quy mô khác nhau có thể mang sản phẩm của mình đến với hơn 300 triệu tài khoản người mua, trong đó có hơn 200 triệu khách hàng Prime cũng như hàng triệu đại lý mua hàng sỉ tại thị trường Mỹ, Châu Âu.
                <br>
                Tìm hiểu thêm:
                <a href="#">sell.amazon.vn</a>
            </div>
        </div>
    </div>
</div>
<div class="footer wow fadeIn" data-wow-delay="0.3s">
    © 2020, Amazon Services LLC.
    <br class="mb">
    All Rights Reserved.
    <br class="mb">
    An Amazon Company
</div>
<div class="modal fade show" id="modal-form">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
            >
                x
            </button>
            <div class="modal-body">
                <div class="question">
                    <div class="question--form">
                        <div class="question--item">
                            <label class="question--label">1) Vui lòng cung cấp tên của người liên hệ chính (*):</label>
                            <div class="question--radio">
                                <input type="radio" name="radio_01" id="radio_1">
                                <label for="radio_1">label</label>
                            </div>
                            <div class="question--radio">
                                <input type="radio" name="radio_01" id="radio_2">
                                <label for="radio_2">label</label>
                            </div>
                            <div class="question--radio">
                                <input type="radio" name="radio_01" id="radio_3">
                                <label for="radio_3">label</label>
                            </div>
                        </div>
                        <div class="question--item">
                            <label class="question--label">1) Vui lòng cung cấp tên của người liên hệ chính (*):</label>
                            <div class="question--radio">
                                <input type="radio" name="radio_clone_01" id="radio_01">
                                <label for="radio_01">label</label>
                            </div>
                            <div class="question--radio">
                                <input type="radio" name="radio_clone_01" id="radio_02">
                                <label for="radio_02">label</label>
                            </div>
                            <div class="question--radio">
                                <input type="radio" name="radio_clone_01" id="radio_03">
                                <label for="radio_03">label</label>
                            </div>
                        </div>
                        <div class="question--item">
                            <label class="question--label">1) Vui lòng cung cấp tên của người liên hệ chính (*):</label>
                            <div class="question--checkbox">
                                <input name="checkbox_01" type="checkbox" id="checked_0">
                                <label for="checked_0">label</label>
                            </div>
                            <div class="question--checkbox">
                                <input name="checkbox_01" type="checkbox" id="checked_1">
                                <label for="checked_1">label 1</label>
                            </div>
                            <div class="question--checkbox">
                                <input name="checkbox_01" type="checkbox" id="checked_2">
                                <label for="checked_2">label 2</label>
                            </div>
                        </div>
                        <div class="question--item">
                            <label class="question--label">1) Vui lòng cung cấp tên của người liên hệ chính (*):</label>
                            <div class="question--checkbox">
                                <input name="checkbox_02" type="checkbox" id="checked_clone_0">
                                <label for="checked_clone_0">label</label>
                            </div>
                            <div class="question--checkbox">
                                <input name="checkbox_02" type="checkbox" id="checked_clone_1">
                                <label for="checked_clone_1">label 1</label>
                            </div>
                            <div class="question--checkbox">
                                <input name="checkbox_02" type="checkbox" id="checked_clone_2">
                                <label for="checked_clone_2">label 2</label>
                            </div>
                        </div>
                        <div class="question--item">
                            <label class="question--label">1) Vui lòng cung cấp tên của người liên hệ chính (*):</label>
                            <input type="text" class="question--input">
                        </div>
                        <div class="question--item">
                            <label class="question--label">1) Vui lòng cung cấp tên của người liên hệ chính (*):</label>
                            <div class="question--select">
                                <select class="form-select no-select">
                                    <option selected="" disabled="">Chọn ngành hàng</option>
                                    <option value="option">option</option>
                                    <option value="option">option</option>
                                    <option value="option">option</option>
                                    <option value="option">option</option>
                                </select>
                            </div>
                        </div>
                        <div class="question--item">
                            <label class="question--label">1) Vui lòng cung cấp tên của người liên hệ chính (*):</label>
                            <div class="question--input-file">
                                <span class="text">Tải lên</span>
                                <input type="file" data-field="">
                            </div>
                            <div class="question--image">
                                <img class="" src="https://via.placeholder.com/280x270">
                            </div>
                        </div>
                    </div>
                    <div class="question--button">
                        <button class="question--submit button button-yellow">Gửi ngay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
