<div class="question">
    <div class="question--title">Vui lòng điền đầy đủ thông tin tại đây:</div>
    <div class="question--form">
        <div class="question--item">
            <label class="question--label">1. Tên người liên hệ*</label>
            <div class="question--radio">
                <input type="radio" name="radio_01" id="radio_1">
                <label for="radio_1">label</label>
            </div>
            <div class="question--radio">
                <input type="radio" name="radio_01" id="radio_2">
                <label for="radio_2">label</label>
            </div>
            <div class="question--radio">
                <input type="radio" name="radio_01" id="radio_3">
                <label for="radio_3">label</label>
            </div>
        </div>
        <div class="question--item">
            <label class="question--label">2. Tên công ty*</label>
            <div class="question--radio">
                <input type="radio" name="radio_clone_01" id="radio_01">
                <label for="radio_01">label</label>
            </div>
            <div class="question--radio">
                <input type="radio" name="radio_clone_01" id="radio_02">
                <label for="radio_02">label</label>
            </div>
            <div class="question--radio">
                <input type="radio" name="radio_clone_01" id="radio_03">
                <label for="radio_03">label</label>
            </div>
        </div>
        <div class="question--item">
            <label class="question--label">3. Số điện thoại liên hệ*</label>
            <div class="question--checkbox">
                <input name="checkbox_01" type="checkbox" id="checked_0">
                <label for="checked_0">label</label>
            </div>
            <div class="question--checkbox">
                <input name="checkbox_01" type="checkbox" id="checked_1">
                <label for="checked_1">label 1</label>
            </div>
            <div class="question--checkbox">
                <input name="checkbox_01" type="checkbox" id="checked_2">
                <label for="checked_2">label 2</label>
            </div>
        </div>
        <div class="question--item">
            <label class="question--label">3. Số điện thoại liên hệ*</label>
            <div class="question--checkbox">
                <input name="checkbox_02" type="checkbox" id="checked_clone_0">
                <label for="checked_clone_0">label</label>
            </div>
            <div class="question--checkbox">
                <input name="checkbox_02" type="checkbox" id="checked_clone_1">
                <label for="checked_clone_1">label 1</label>
            </div>
            <div class="question--checkbox">
                <input name="checkbox_02" type="checkbox" id="checked_clone_2">
                <label for="checked_clone_2">label 2</label>
            </div>
        </div>
        <div class="question--item">
            <label class="question--label">3. Số điện thoại liên hệ*</label>
            <input type="text" class="question--input">
        </div>
        <div class="question--item">
            <label class="question--label">3. Số điện thoại liên hệ*</label>
            <div class="question--select">
                <select class="form-select">
                    <option selected disabled>Chọn ngành hàng</option>
                    <option value="option">option</option>
                    <option value="option">option</option>
                    <option value="option">option</option>
                    <option value="option">option</option>
                </select>
            </div>
        </div>
        <div class="question--item">
            <label class="question--label">3. Số điện thoại liên hệ*</label>
            <div class="question--input-file">
                <span class="text">Tải lên</span>
                <input type="file" data-field="">
            </div>
            <div class="question--image">
                <img class="" src="https://via.placeholder.com/280x270">
            </div>
        </div>
        <div class="question--button">
            <button class="question--submit button button-yellow">Gửi ngay</button>
        </div>
    </div>
</div>
